{{! View Shows }}
<div
  class='modal fade'
  id='view-show-modal'
  tabindex='-1'
  aria-labelledby='view-show-modal-title'
  aria-hidden='true'
>
  <div
    class='modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl'
  >
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='view-show-modal-title'>View Shows</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        <div class='card'>
          <div class='card-header'>
            <div class='row'>
              <p class='col-3 text-center lh-1 pb-0'>Artist</p>
              <p class='col-3 text-center lh-1 pb-0'>Venue</p>
              <p class='col-3 text-center lh-1 pb-0'>Date</p>
              <p class='col-3 text-center lh-1 pb-0'>Time</p>
            </div>
          </div>
          <ul class='list-group list-group-flush'>
            {{#each shows}}
              <div class='row'>
                <li
                  class='list-group-item col-3 text-center'
                >{{talent.title}}</li>
                <li
                  class='list-group-item col-3 text-center'
                >{{venue.name}}</li>
                <li
                  class='list-group-item col-3 text-center'
                >{{performance_date}}</li>
                <li
                  class='list-group-item col-3 text-center'
                >{{performance_time}}</li>
              </div>
            {{/each}}
          </ul>
        </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn' data-bs-dismiss='modal'>Close</button>
      </div>
    </div>
  </div>
</div>

{{! Add show }}
<div
  class='modal fade'
  id='add-show-modal'
  tabindex='-1'
  aria-labelledby='add-show-modal-title'
  aria-hidden='true'
>
  <div
    class='modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl'
  >
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='add-show-modal-title'>Add a Show</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        <div class='mb-3 row'>
          <label for='add-show-talent' class='col-form-label'>Artist</label>
          <select id='add-show-talent' class='form-select'>
            {{#each talent}}
              <option value='{{id}}'>{{title}}</option>
            {{/each}}
          </select>
        </div>
        <div class='mb-3 row'>
          <label for='add-show-venue' class='col-form-label'>Venue</label>
          <select id='add-show-venue' class='form-select'>
            {{#each venues}}
              <option value='{{id}}'>{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class='mb-3 row'>
          <label for='add-show-date' class='col-form-label'>Date</label>
          <input type='date' id='add-show-date' class='form-control' />
        </div>
        <div class='mb-3 row'>
          <label for='add-show-time' class='col-form-label'>Time</label>
          <input type='time' id='add-show-time' class='form-control' />
        </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn' data-bs-dismiss='modal'>Close</button>
        <button type='button' class='btn' id='add-show-btn'>Add show</button>
      </div>
    </div>
  </div>
</div>

{{! Update show }}
<div
  class='modal fade'
  id='select-show-modal'
  tabindex='-1'
  aria-labelledby='select-show-modal-title'
  aria-hidden='true'
>
  <div
    class='modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl'
  >
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='select-show-modal-title'>Select a Show to
          Update</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        <div class='mb-3 row'>
          <label for='select-show-update' class='col-form-label'>Artist</label>
          <select id='select-show-update' class='form-select'>
            {{#each shows}}
              <option value='{{id}}'>
                <div class='row'>
                  <p class='mb-0 pb-0 lh-1'>{{talent.title}}</p>
                  <p class='mb-0 pb-0 lh-1'>{{venue.name}}</p>
                  <p class='mb-0 pb-0 lh-1'>{{performance_date}}</p>
                  <p class='mb-0 pb-0 lh-1'>{{performance_time}}</p>
                </div>
              </option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn' data-bs-dismiss='modal'>Close</button>
        <button
          type='button'
          class='btn'
          data-bs-target='#update-show-modal'
          data-bs-toggle='modal'
        >Go to update show</button>
      </div>
    </div>
  </div>
</div>
<div
  class='modal fade'
  id='update-show-modal'
  tabindex='-1'
  aria-labelledby='update-show-modal-title'
  aria-hidden='true'
>
  <div
    class='modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl'
  >
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='update-show-modal-title'>Update a Show</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        <div class='mb-3 row'>
          <label for='update-show-talent' class='col-form-label'>Artist</label>
          <select id='update-show-talent' class='form-select'>
            {{#each talent}}
              <option value='{{id}}'>{{title}}</option>
            {{/each}}
          </select>
        </div>
        <div class='mb-3 row'>
          <label for='update-show-venue' class='col-form-label'>Venue</label>
          <select id='update-show-venue' class='form-select'>
            {{#each venues}}
              <option value='{{id}}'>{{name}}</option>
            {{/each}}
          </select>
        </div>
        <div class='mb-3 row'>
          <label for='update-show-date' class='col-form-label'>Date</label>
          <input type='date' id='update-show-date' class='form-control' />
        </div>
        <div class='mb-3 row'>
          <label for='update-show-time' class='col-form-label'>Time</label>
          <input type='time' id='update-show-time' class='form-control' />
        </div>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn' data-bs-dismiss='modal'>Close</button>
        <button type='button' class='btn' id='update-show-btn'>Update
          artist/performer/speaker</button>
      </div>
    </div>
  </div>
</div>

{{! Remove shows }}
<div
  class='modal fade'
  id='remove-show-modal'
  tabindex='-1'
  aria-labelledby='remove-show-modal-title'
  aria-hidden='true'
>
  <div
    class='modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl'
  >
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title' id='remove-show-modal-title'>Remove Show</h5>
        <button
          type='button'
          class='btn-close'
          data-bs-dismiss='modal'
          aria-label='Close'
        ></button>
      </div>
      <div class='modal-body'>
        <select class='form-select' id='show-remove-id'>
          {{#each shows}}
            <option value='{{id}}'>{{talent.title}}
              at
              {{venue.name}}
              on
              {{performance_date}}
              at
              {{performance_time}}</option>
          {{/each}}
        </select>
      </div>
      <div class='modal-footer'>
        <button type='button' class='btn' data-bs-dismiss='modal'>Close</button>
        <button type='button' class='btn' id='remove-show-btn'>Remove show</button>
      </div>
    </div>
  </div>
</div>